.weatherContainer {
    background-color: #f0f4f8;
    border-radius: 3px;
    padding: 20px;
    max-width: 400px;
    margin: 20px 1px;
    font-family: Arial, sans-serif;
}

.weatherCityCountry {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 12px;
}

.weatherTemperature {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

.weatherDescription {
    margin-bottom: 8px;
}

.weatherHumidity,
.weatherWindSpeed {
    margin-bottom: 6px;
}

.tempContainer {
    display: flex;
    justify-content: space-between;
}

.toggleButton {
    border: none;
    padding: 0px 8px;
    background-color: #437cb9;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    font-size: 16px;
}